@use 'base' as *;

// 模板页
$img-page-bg: '#{$img-base}page-bg.png';
$img-page-bg: '#{$img-base}gameImage76ac467bb10545a8a1fc5739cc809410.png';
$img-card-bg: '#{$img-base}card-bg.png';
$img-page-bg-2: 'http://xports-test.oss-cn-hangzhou.aliyuncs.com/dev/gameImage7052eba31a3643d983d446e309cbc72e.png';

$img-page-bg: '#{$img-base}gameImage202198134469460495a6b0d9ff623b47.png';
$img-page-bg-2: '#{$img-base}gameImagef515f64213774180bc5cfe2b8a337062.png';
$img-page-bg-3: '#{$img-base}gameImaged0a889d98fe74fc2b533b159a2958e75.png';