@font-face {
  font-family: "iconfont"; /* Project id 5215467 */
  src: url('//at.alicdn.com/t/c/font_5215467_4jf2t818xc.woff2?t=1785151655073') format('woff2'),
       url('//at.alicdn.com/t/c/font_5215467_4jf2t818xc.woff?t=1785151655073') format('woff'),
       url('//at.alicdn.com/t/c/font_5215467_4jf2t818xc.ttf?t=1785151655073') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e648";
}

.icon-shipinheji:before {
  content: "\e8cb";
}

.icon-dianzan4:before {
  content: "\e93c";
}

.icon-qiehuanqiyou:before {
  content: "\ea3c";
}

.icon-qiehuanqizuo:before {
  content: "\ea3d";
}

.icon-you1:before {
  content: "\e94f";
}

.icon-nv:before {
  content: "\e69a";
}

.icon-iconfontnan:before {
  content: "\e64a";
}

.icon-saoma1:before {
  content: "\e6b1";
}

.icon-jia:before {
  content: "\e643";
}

.icon-shijian1:before {
  content: "\e68d";
}

.icon-tongyi:before {
  content: "\e683";
}

.icon-jian:before {
  content: "\e63b";
}

.icon-you:before {
  content: "\e77a";
}

.icon-zuo:before {
  content: "\e77b";
}

.icon-hetong:before {
  content: "\e85a";
}

.icon-zuoyoujian:before {
  content: "\e64b";
}

.icon-zuoyoujian1:before {
  content: "\e64c";
}

.icon-mingxi:before {
  content: "\e6ba";
}

.icon-shouyedian:before {
  content: "\e617";
}

.icon-xiaoxi:before {
  content: "\e63c";
}

.icon-tongzhi:before {
  content: "\e63f";
}

.icon-xiugai:before {
  content: "\e629";
}

.icon-cuowu2:before {
  content: "\e645";
}

.icon-tuichu2:before {
  content: "\ea58";
}

.icon-wode-xian:before {
  content: "\e921";
}

.icon-wodejifenicon:before {
  content: "\e910";
}

.icon-fuwu3:before {
  content: "\ea50";
}
